<br>
<div class="container border"> 
  sdqdfdqgfs 
  </div>
  <br>
<div class=" border "> 
    <table class="table table-hover table-responsive-md  "> 
        <thead class="thead-light" >
            <tr>
              <th scope="col" class="md-4">Ticket</th>
              <th scope="col" class="md-4" >Date création</th>
              <th scope="col" class="md-8" >Commentaires </th>              
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="md-4">Ttticket</td>
              <td class="md-4">05/07/21</td>
              <td class="md-8">zesdqs </td>  
              </tr>
              <tr>
                  <td class="md-4" >tticket</td>
                  <td class="md-4" >10/10/10</td>
                  <td class="-md-8" >zaeaze </td>  
                  </tr>
          </tbody>
       </table>  
</div>