<div class="big-container">
   <h2 class="h2"> <strong>Ajouter un client : </strong></h2> 
  <br/>
  <form>
  <div class="example-container">
      <label for="nomclient">Nom client</label>
      <p></p>
      <input type="text" class="form-control" id="Nomclient" placeholder="Nom du societé">
    </div>
    <br>
  <div class="example-container">
        <label for="mailclient">Mail client </label>
    <p> </p>
        <input type="email" class="form-control" id="mailclient" placeholder="name@example.com">
    </div>
  <br> 
  <div class="example-container">
        <label for="telclient">Tel client </label>
        <p> </p>
        <input type="tel" class="form-control " id="telclient" placeholder="Num tel du client" >
    </div>
</form>
</div> 
<br><br><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<div class="big-container">
<img src="assets/homepage.jpg" width="56%" > 
</div>