

<ul class="list-group">
  <li class="list-group-item list-group-item-info"> <table class="table"> 
      <tr>
        <th scope="col">{{datecr}}datecr </th>
        <th scope="col">{{numcr}} numcr</th>
        <th scope="col">{{nomclt}}nom cr</th>
        
      </tr>
     </table>   <h6 class="flo" ><a href="#"> voir détails>> </a></h6> </li>
  <li class="list-group-item"><table class="table"> 
      <tr>
        <th scope="col">{{numcr}} numcr</th>
        <th scope="col">{{nomclt}}nom cr</th>
        <th scope="col">{{datecr}}datecr </th>
      </tr>
     </table>  <h6 class="flo" ><a href="#"> voir détails>> </a></h6> </li>
  <li class="list-group-item"><table class="table"> 
      <tr>
        <th scope="col">{{numcr}} numcr</th>
        <th scope="col">{{nomclt}}nom cr</th>
        <th scope="col">{{datecr}}datecr </th>
      </tr>
     </table>  <h6 class="flo" ><a href="#"> voir détails>> </a></h6> </li>
  <li class="list-group-item"><table class="table"> 
      <tr>
        <th scope="col">{{numcr}} numcr</th>
        <th scope="col">{{nomclt}}nom cr</th>
        <th scope="col">{{datecr}}datecr </th>
      </tr>
     </table> <h6 class="flo" ><a href="#"> voir détails>> </a></h6> </li>
  

  
</ul>